.soft-scrollbar {
  scrollbar-color: #9ca3af #e5e7eb;
}

.soft-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.soft-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
}

.soft-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 20px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
